<div id="fb-root"></div>
<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	    if (d.getElementById(id)) return;
	      js = d.createElement(s); js.id = id;
	        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=295226453878610";
		  fjs.parentNode.insertBefore(js, fjs);
		  }(document, 'script', 'facebook-jssdk'));</script>
	  <div style="text:align:center">
		  <div class="fb-like-box" data-href="https://www.facebook.com/pages/Debug-Release/473369436071930" data-width="250" data-show-faces="true" data-stream="false" data-show-border="true" data-header="false"></div></div>
