<section>
    <h1>Connect with me</h1>

    <ul id="socialList">
        <li><a title="Deepak Kapoor on Facebook" href="https://www.facebook.com/pages/Deepak-Kapoor/180331188831904" alt="Facebook"><div class='sprite glyp_facebook'></div></a>
        </li>
        <li><a title="Google+" href="https://plus.google.com/u/0/105555323627924521684" alt="Google+"><div class='sprite glyp_google_plus'></div></a>
        </li>
        <li><a title="Subscribe to Deepak Kapoor's Feed" href="http://feeds.feedburner.com/DeepakKapoor" alt="RSS"><div class='sprite glyp_rss'></div></a>
        </li>
        <li><a title="Follow Deepak Kapoor on Twitter" href="http://www.twitter.com/_deepakkapoor" alt="Twitter"><div class='sprite glyp_twitter'></div></a>
        </li>
        <li><a title="LinkedIn profile" href="http://au.linkedin.com/in/kapoordeepak" alt="LinkedIn"><div class='sprite glyp_linked_in'></div></a>
        </li>
    </ul>
</section>