<section>
	<h1>Connect with me<h1>
	  <div class="socialContainer">
					                            <div class="socialWidget">
																							<a title="debugrelease on Facebook" href="https://www.facebook.com/pages/Debug-Release/473369436071930" alt="Facebook">
<div class='sprite glyp_facebook socialicon'></div>
</a>
																							<a title="Google+" href="https://plus.google.com/u/0/105555323627924521684" alt="Google+">
<div class='sprite glyp_google_plus socialicon'></div>
</a>
																							<a title="Subscribe to debug release Feed" href="http://feeds.feedburner.com/debug-release" alt="RSS">
<div class='sprite glyp_rss socialicon'></div>
</a>
																							<a title="Follow Deepak Kapoor on Twitter" href="http://www.twitter.com/_deepakkapoor" alt="Twitter">
<div class='sprite glyp_twitter socialicon'></div>
</a>
																							<a title="LinkedIn profile" href="http://au.linkedin.com/in/kapoordeepak" alt="LinkedIn">
<div class='sprite glyp_linked_in socialicon'></div></a>
																						                            </div>

																																			                        </div>	
