<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=Exo+2:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<link href="/stylesheets/debrel.css" rel="stylesheet" type="text/css">
<meta name="google-site-verification" content="lgYJWL_s1AZLFOqJ9ejrQhbIkJcvzpsBZnUBGHcNk-w" />
